.banner{
    background-image: url("https://i.pinimg.com/originals/c3/82/2b/c3822b3108a40d322bce0c3b349f6df8.png");
    background-color: #1a1a2e;
    width: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}